.history-timeline {
    position: relative;
    list-style-type: none;
    padding-left: 0;
    z-index: 1;
    margin: {
        left: auto;
        right: auto;
        bottom: 0;
    };
    &::before {
        content: '';
        width: 1px;
        height: 100%;
        background-color: #ebebeb;
        top: 0;
        left: 130px;
        position: absolute;
    }
    .timeline-block {
        position: relative;
        padding-left: 165px;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;

            &::before {
                display: none;
            }
        }
        &::before {
            content: "\ea17";
            position: absolute;
            left: 116px;
            color: var(--mainColor);
            bottom: -25px;
            animation: fade-down 1.5s infinite linear;
            font: {
                family: "boxicons" !important;
                size: 30px;
            };
        }
        .timeline-date {
            text-align: end;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            color: var(--optionalColor);
            font: {
                size: 15px;
            };
            span {
                display: block;
                margin-bottom: 3px;
                color: var(--blackColor);
                font-weight: 700;
            }
            sup {
                color: var(--blackColor);
                font-weight: 600;
            }
        }
        .timeline-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 126px;

            .dot-badge {
                background-color: var(--mainColor);
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
        }
        .timeline-content {
            background-color: var(--whiteColor);
            padding: 30px;

            .content {
                padding: {
                    left: 5px;
                    right: 15px;
                };
                h3 {
                    margin-bottom: 15px;
                    font-size: 25px;
                }
            }
        }
    }
    &.history-timeline-style-two {
        &::before {
            left: auto;
            right: 130px;
            background-color: #f3f1f1;
        }
        .timeline-block {
            padding: {
                left: 0;
                right: 165px;
            };
            &::before {
                left: auto;
                right: 115px;
            }
            .timeline-date {
                text-align: start;
                right: 0;
                left: auto;
            }
            .timeline-icon {
                left: auto;
                right: 125px;
            }
            .timeline-content {
                background-color: #f7faff;
                
                .content {
                    padding: {
                        left: 10px;
                        right: 10px;
                    };
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {

    .history-timeline {
        &::before {
            left: 50%;
            transform: translateX(-50%);
        }
        .timeline-block {
            padding-left: 0;
            margin-bottom: 40px;

            .timeline-date {
                text-align: center;
                position: relative;
                left: 0;
                top: 0;
                transform: unset;
                font-size: 16px;
                margin-bottom: 15px;
                padding-bottom: 5px;

                span {
                    margin-bottom: 2px;
                    font-weight: 700;
                }
            }
            .timeline-icon {
                display: none;
            }
            .timeline-content {
                text-align: center;
                padding: 20px;

                .content {
                    margin-bottom: 25px;
                    padding: {
                        left: 0;
                        right: 0;
                    };
                    h3 {
                        margin-bottom: 10px;
                        font-size: 21px;
                    }
                }
            }
            &::before {
                display: none;
            }
        }
    }
    .history-timeline {
        &.history-timeline-style-two {
            &::before {
                right: auto;
                left: 50%;
            }
            .timeline-block {
                padding-right: 0;
                margin-bottom: 40px;
    
                .timeline-date {
                    text-align: center;
                }
                .timeline-content {
                    .content {
                        padding: {
                            left: 0;
                            right: 0;
                        };
                        margin: {
                            bottom: 0;
                            top: 25px;
                        };
                    }
                }
            }
        }
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .history-timeline {
        .timeline-block {
            .timeline-content {
                .content {
                    margin-bottom: 30px;
                    padding: {
                        left: 0;
                        right: 0;
                    };
                    h3 {
                        font-size: 22px;
                    }
                }
            }
        }
        &.history-timeline-style-two {
            .timeline-block {
                .timeline-content {
                    .content {
                        margin: {
                            top: 30px;
                            bottom: 0;
                        };
                        padding: {
                            left: 0;
                            right: 0;
                        };
                    }
                }
            }
        }
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .history-timeline {
        .timeline-block {
            .timeline-content {
                .content {
                    h3 {
                        font-size: 23px;
                    }
                }
            }
        }
    }

}